{{! this is a comment }}


<footer class="footer" role="contentinfo">
  <div class="container">

    <!-- Social Buttons -->
    <div class="footer-social-buttons">
      <ul class="list-inline">
        <li>
          <iframe src="//ghbtns.com/github-btn.html?user=dherges&type=follow"
                  allowtransparency="true" frameborder="0" scrolling="0"
                  width="130" height="20"></iframe>
        </li>
        <li>
          <iframe src="//platform.twitter.com/widgets/follow_button.1400006231.html#_=1401009308194&amp;id=twitter-widget-1&amp;lang=en&amp;screen_name=haggis_2308&amp;show_count=false&amp;show_screen_name=true&amp;size=m"
                  id="twitter-widget-1"
                  class="twitter-follow-button twitter-follow-button"
                  title="Twitter Follow Button" 
                  scrolling="no" frameborder="0" allowtransparency="true"
                  width="150" height="20"></iframe>
        </li>
      </ul>
    </div>

    <p>Designed on top of <a href="http://getbootstrap.com">Twitter Bootstrap</a>.</p>
    <p>Built with <a href="http://assemble.io">Assemble</a>.</p>
    <p>Impressum: David Herges, Martinsstr. 28-30, 55116 Mainz</p>

  </div>
</footer>
