<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>{{title}}</title>

  <link rel="stylesheet" href="/assets/css/styles.css" />
  <script type="text/javascript" src="/vendor/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="/vendor/bootstrap/dist/js/bootstrap.js"></script>
</head>
<body>
  {{>site-header}}

  <div class="header">
      <h1>My Site</h1>
  </div>

<div class="jumbotron">
  <h1>Hello, world!</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
</div>
  <div class="page-content">
    <h2>{{ this.page.title }}</h2>
    {{#markdown}} 
      {{> body}} 
    {{/markdown}}
  </div>

  <!-- POST NAV -->
  <div>
    <ul>
      {{#withSort post 'data.posted'}}
        {{#each this.pages }}
        <li>{{ this.data.title }}</li>
        {{/each}}
      {{/withSort}}
    </ul>
  </div>

  {{>site-footer}}
</body>
</html>
