<section class="hero is-medium is-primary is-bold">
  <div class="hero-head">
    <header class="nav">
      <div class="container">
        <div class="nav-right nav-menu">

          <a class="nav-item" href="https://github.com/dherges">GitHub</a>
          <a class="nav-item" href="https://twitter.com/davidh_23">Twitter</a>
          <a class="nav-item" href="https://medium.com/spektrakel-blog">Medium</a>

        </div>
      </div>
    </header>
  </div>
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        David Herges
      </h1>
      <h2 class="subtitle">
        Web Application Developer
      </h2>
    </div>
  </div>
</section>


<section class="section">

<div class="container is-widescreen">

    <div class="tile is-ancestor">
          <div class="tile is-8 is-vertical is-parent">
            <div class="tile is-child box">
              <p class="title">Bio</p>
              <div class="content">
                <p>
                  Hi there, my name is David and I am a Web Application Developer currently working at <a href="http://global.agfahealthcare.com/dach/jobs/">Agfa HealthCare</a>.
                  My professional focus is on Angular, TypeScript, and related Web Technologies for client-side applications.
                </p>
                <p>
                  In the past, I used to write Android apps and implemented server-side applications with Spring Boot and friends.
                </p>
              </div>
            </div>
            <div class="tile is-child box">
              <p class="title">Blog</p>
              <p class="subtitle"><a href="https://medium.com/spektrakel-blog" style="text-decoration: none;">https://medium.com/spektrakel-blog</a></p>
              <p class="content">I'm grooming a blog on medium.com where I write on the above technologies.</p>
            </div>
          </div>

        <div class="tile is-parent">
          <div class="tile is-child box">
            <p class="title">CV</p>
            <div class="content">
              <dl>
                <dt>Current Work</dt>
                <dd>Agfa HealthCare since March 2017</dd>
                <dt>Study and Education</dt>
                <dd>Diploma degree in course Media Informatics at <a href="http://www.uni-ulm.de/en/in/mi/">Ulm University</a></dd>
                <dt>Research and Publications</dt>
                <dd>Ginger: An Access Control Framework for Telematics Applications, IEEE TrustCom'12, <a href="http://dx.doi.org/10.1109/TrustCom.2012.169">http://dx.doi.org/10.1109/TrustCom.2012.169</a></dd>
              </dl>
            </div>
          </div>
        </div>
    </div>

</div>
</section>


<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>IMPRINT<br>David Herges<br>Weingartenstr. 27<br>54470 Bernkastel-Kues</p>
      <p>
        This web page is built with
        <a href="https://angular.io">Angular</a>,
        <a href="http://bulma.io/">Bulma</a>,
        <a href="https://fonts.google.com/specimen/Quicksand">Quicksand</a>.
      </p>
    </div>
  </div>
</footer>

<router-outlet></router-outlet>
