<!DOCTYPE html>
<html>
<head>
  {{> html-head}}
</head>
<body>
  {{> navbar}}

  <div class="container">
    <div class="col-md-8">
      {{#is basename 'index'}}
        {{> blog-list}}
      {{else}}
        <div class="blog-post">
          <h2>{{ page.title }}</h2>
          {{#markdown}}
            {{> body}}
          {{/markdown}}
        </div>
      {{/is}}
    </div>
    <div class="col-md-4">
      {{#is basename 'index'}}
        {{> blog-tags this}}
      {{else}}
        {{> blog-tags page}}
      {{/is}}
    </div>
  </div>

  {{> footer}}
</body>
</html>
