@import "../_gh_pages/vendor/bootstrap/less/bootstrap.less";


// spectral colours
@brand-red:     hsva(0, 100%, 100%, 1.0);
@brand-orange:  hsva(30, 100%, 100%, 1.0);
@brand-yellow:  hsva(56, 100%, 100%, 1.0);
@brand-green:   hsva(130, 100%, 100%, 1.0);
@brand-cyan:    hsva(170, 100%, 100%, 1.0);
@brand-blue:    hsva(197, 100%, 100%, 1.0);
@brand-violet:  hsva(277, 100%, 100%, 1.0);


// customizations
@body-bg:       @gray-lighter;
@text-color:    @gray-darker;
@brand-primary: @brand-blue;
@navbar-default-bg:     transparent;
@navbar-default-border: @gray-darker;
@jumbotron-bg:          transparent;
@link-color:            @brand-primary;
@link-hover-color:      lighten(@link-color, 15%);


// own variables
@footer-bg:     transparent;
@footer-border: @navbar-default-border;
@footer-space:  (@line-height-computed * 2);

html {
  height: 100%;
  @media (min-width: @screen-sm) {
    .box-shadow(inset 0 0 60px rgba(0,0,0,.5));
    padding: 40px 50px 0 50px;
  }
}

// blog
.blog-list {
  margin-top: -(@line-height-computed * 2);

  h2, h3 {
    font-size: @font-size-h4;
    margin-top: @line-height-computed;
    margin-bottom: (@line-height-computed / 2);
    border-bottom: 1px solid @gray-light;
    padding-bottom: (@line-height-computed / 4);

    small {
      float: right;
    }
  }

  .excerpt {
    padding-bottom: 0;
  }

  .blog-list-entry {
    margin-top: (@line-height-computed * 2);
  }
}


// footer
.footer {
  border-top: 1px solid @footer-border;
  padding-top: @footer-space;
  padding-bottom: @footer-space;
  margin-top: (@footer-space * 1.5);
  background-color: @footer-bg;
  .text-center();

  p {
    font-size: @font-size-small;
    margin-bottom: 0;
  }
}
